body {
    color: #8C31DC;
}

@font-face {
    font-family: Questrial;
    src: url(../Questrial-Regular.ttf);
}

/* CHANGE MODE */

#change-mode {
    font-size: 2.5rem;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px;
}

#change-mode a {
    color: #8C31DC;
}

/* CLOCK */

@font-face {
    font-family: digital-numbers;
    src: url(../LiquidCrystal-Light.otf);
}

#clock {
    font-family: digital-numbers;
    font-size: 130px;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    background: linear-gradient(to right, #0047ff 40%, #ff00b8 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.clock-link:hover {
    text-decoration: none;
}

/* MENU */

.buttons {
    text-align: center;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #8C31DC;
    border: solid;
    margin-left: 30px;
    padding: 0 12px;
    border-radius: 10px;
    line-height: 34px;
}

.buttons a {
    color: #8C31DC;
}

.btn:hover {
    border-color: #8C31DC;
}

.buttons a:hover {
    text-decoration: none;
}

.alarm {
    background-color: #8C31DC;
}

.alarm > a {
    color: #FFF;
}

/* SET ALARM */

.set {
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
    font-family: Questrial, sans-serif;
}

.set > a {
    color: #414141;
}

.set:hover > a {
    text-decoration: none;
}